{% extends "base.html" %}
{% block title %}爱订餐 › 注册{% endblock %}
{% block content %}
    <h1 id="pt">注册</h1>
    <div class="block">
        <div class="main">
            <p>我们推荐您使用下列第三方帐号注册，不用记密码更轻松</p>
            <div class="sep20"></div>
            <div class="connect-list">
                <a href="/connect/sina"><img src="http://www.sinaimg.cn/blog/developer/wiki/32.png" alt=""></a>
                &nbsp;&nbsp;
                <a href="/connect/qq"><img src="http://qzonestyle.gtimg.cn/qzone/vas/opensns/res/img/Connect_logo_4.png" alt=""></a>
            </div>
        </div>
    </div>
{% endblock %}