{% extends "info/base.html" %}
{% block title %}爱订餐 › 是时候升级你的浏览器了{% endblock %}
{% block content %}
    <h1 id="pt">是时候升级你的浏览器了</h1>
    <div class="block">
        <div class="main">
            <div class="entry">
                <p>你正在使用 Internet Explorer 的过期版本。包括<strong>爱订餐</strong>在内的许多网站都不再支持 IE 6, IE 7，这意味着在升级或更换浏览器前，你将无法使用爱订餐。</p>
                <p><strong>干掉你电脑中的IE6吧！</strong></p>
                <ul>
                    <li>为了您的隐私和数据安全，</li>
                    <li>为了让您得到更好的网上浏览体验，</li>
                    <li>我们强力建议您干掉电脑中的IE6，</li>
                </ul>
                <p><strong>你可以选择安装以下浏览器！</strong></p>
            </div>
        </div>
    </div>
{% endblock %}